@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body {
  height: 100%; 
  margin: 0; 
}

*,
*::before,
*::after {
  @apply box-border;
}

input[type="email"],
input[type="password"],
input[type="tel"],
input[type="text"] {
    @apply rounded-xl border p-2 border-gray-300 
    bg-gray-100 w-full;
}

button[type="submit"]{
  @apply bg-black1 text-white w-full rounded-3xl 
  p-2 text-xl hover:bg-gray-800;
}

input[type="email"]:disabled,
input[type="password"]:disabled,
input[type="tel"]:disabled,
input[type="text"]:disabled {
  @apply bg-gray-200 opacity-50 border-gray-300; 
}

button[type="submit"]:disabled {
  @apply cursor-not-allowed opacity-80; 
}

@media(max-width: 500px){
  .form{
    margin-left: 20px;
    margin-right: 20px;
  }
}

input::placeholder {
  @apply text-gray-600 italic;
}

.font-roboto {
  font-family: 'Roboto', sans-serif;
}
